$background-color: #fafafa;
$text-color: #111111;
$desctext-color: #ffffff;
$button-color: #fd9222;
$listpointinto-color: #4c4c4c;
$listpointout-color: #eceded;
$footerbackground-color: #1e1823;
$rectangle-color: #d9d9d9;