a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

input,
textarea {
  all: revert;
  outline: none;
  resize: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1168px;
  padding: 0 10px;
  margin: 0 auto;
  outline: 1px solid red;
}
@media screen and (min-width: 355px) {
  .container {
    width: 355px;
  }
}
@media screen and (min-width: 736px) {
  .container {
    width: 736px;
    padding: 0 16px;
  }
}
@media screen and (min-width: 1168px) {
  .container {
    width: 1168px;
  }
}

body {
  font-family: "Montserrat";
}

.header {
  padding-top: 20px;
  padding-bottom: 14px;
}
@media screen and (min-width: 736px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1168px) {
  .header {
    padding-bottom: 32px;
  }
}
.header > .container {
  display: flex;
}
.header__logobox {
  display: flex;
  align-items: center;
  gap: 4px;
}
@media screen and (min-width: 1168px) {
  .header__logobox {
    margin-right: 188px;
  }
}
.header__logotext {
  color: #111111;
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2857142857;
  letter-spacing: -0.42px;
}
@media screen and (min-width: 1168px) {
  .header__logotext {
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 1.1111111111;
    letter-spacing: -0.54px;
  }
}
.header__icon {
  width: 21px;
  height: 21px;
  stroke: #fd9222;
  fill: #fcf1e0;
}
@media screen and (min-width: 1168px) {
  .header__icon {
    width: 24px;
    height: 24px;
  }
}
.header__navigation {
  display: none;
}
@media screen and (min-width: 1168px) {
  .header__navigation {
    display: flex;
  }
}
.header .navigation__list {
  display: none;
  gap: 24px;
}
@media screen and (min-width: 1168px) {
  .header .navigation__list {
    display: flex;
    gap: 24px;
    margin-right: 137px;
    align-items: center;
  }
}
.header .list__link {
  color: #111111;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: -0.28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header .list__link:hover, .header .list__link:focus {
  color: #fd9222;
}
.header__socialbox {
  display: none;
}
@media screen and (min-width: 1168px) {
  .header__socialbox {
    display: flex;
    gap: 18px;
  }
}
.header .socialbox__icon {
  width: 24px;
  height: 24px;
  fill: transparent;
  stroke: #111111;
  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header .socialbox__icon:hover, .header .socialbox__icon:focus {
  stroke: #fd9222;
}
.header .socialbox__link:focus .socialbox__icon {
  stroke: #fd9222;
}
.header__button {
  display: flex;
  margin-left: auto;
  align-items: center;
}
@media screen and (min-width: 1168px) {
  .header__button {
    display: none;
  }
}
.header .button__icon {
  width: 28px;
  height: 28px;
  stroke: black;
}
@media screen and (min-width: 736px) {
  .header .button__icon {
    width: 32px;
    height: 32px;
  }
}

.information {
  background-color: #1e1b22;
  color: #ffffff;
  font-family: "Montserrat";
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Segoe UI", Tahoma, sans-serif;
}
@media screen and (min-width: 736px) {
  .information {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.information__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.information__list {
  flex: 1 1 calc(33.333% - 20px);
  min-width: 280px;
  box-sizing: border-box;
  padding-right: 20px;
}

.information__border {
  width: 1px;
  height: 124px;
  background-color: #d9d9d9;
}

.information__list:last-child {
  border-right: none;
}

.information__icon {
  width: 62px;
  height: 62px;
  border: 2px solid #4c4c4c;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 20px;
  fill: #fd9222;
}

.information__caption {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.information__subtitle {
  font-size: 16px;
  line-height: 1.6;
  color: #cfcfcf;
}
@media screen and (min-width: 736px) {
  .information__subtitle {
    width: 308px;
    height: 160px;
  }
}

.information__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1168px) {
  .information__list:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 124px;
    width: 1px;
    background-color: #4c4c4c;
  }
  .information__list {
    position: relative;
    padding-right: 40px;
  }
}
.information__list:nth-child(1) .information_subtitle {
  width: 328px;
}

.information__list:nth-child(2) .information_subtitle {
  width: 328px;
}

.information__list:nth-child(3) .information_subtitle {
  width: 328px;
}

.ingrediens {
  padding-top: 72px;
  padding-bottom: 72px;
}
@media screen and (min-width: 736px) {
  .ingrediens {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1168px) {
  .ingrediens {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}
.ingrediens__title {
  width: 100%;
  color: #111111;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
@media screen and (min-width: 355px) {
  .ingrediens__title {
    width: 283px;
  }
}
@media screen and (min-width: 736px) {
  .ingrediens__title {
    width: 411px;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: -0.72px;
  }
}
.ingrediens__titlespan {
  color: #fd9222;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
@media screen and (min-width: 736px) {
  .ingrediens__titlespan {
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: -0.72px;
  }
}
.ingrediens__desc {
  color: #111111;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857;
  letter-spacing: -0.28px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  width: 100%;
}
@media screen and (min-width: 355px) {
  .ingrediens__desc {
    width: 335px;
  }
}
@media screen and (min-width: 736px) {
  .ingrediens__desc {
    margin-top: 28px;
    width: 486px;
  }
}
.ingrediens__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 32px;
}
@media screen and (min-width: 736px) {
  .ingrediens__list {
    gap: 32px;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1168px) {
  .ingrediens__list {
    gap: 19px;
    flex-wrap: nowrap;
  }
}
.ingrediens__item {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 15px;
  padding: 28px 55px 28px 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (min-width: 355px) {
  .ingrediens__item {
    width: 335px;
    height: 270px;
  }
}
@media screen and (min-width: 1168px) {
  .ingrediens__item {
    width: 270px;
    height: 270px;
    padding: 28px 36px 28px 28px;
  }
}
.ingrediens__item:first-child {
  background: #fd9222;
}
.ingrediens__item:nth-child(2) {
  background: #ffffff;
  border: 1px solid #fd9222;
}
.ingrediens__item:nth-child(3) {
  background: #1e1823;
}
.ingrediens__item:nth-child(4) {
  background: #ffffff;
  border: 1px solid #fd9222;
}
@media screen and (min-width: 736px) {
  .ingrediens__list > .ingrediens__item:first-child {
    order: -2;
  }
}
@media screen and (min-width: 1168px) {
  .ingrediens__list > .ingrediens__item:first-child {
    order: 0;
  }
}
@media screen and (min-width: 736px) {
  .ingrediens__list > .ingrediens__item:nth-child(4) {
    order: -1;
  }
}
@media screen and (min-width: 1168px) {
  .ingrediens__list > .ingrediens__item:nth-child(4) {
    order: 0;
  }
}
.ingrediens__img {
  width: 224px;
  height: 171px;
  margin-left: 28px;
}
@media screen and (min-width: 1168px) {
  .ingrediens__img {
    width: 206px;
    height: 160px;
    margin-left: 0px;
  }
}
.ingrediens__name {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  margin-top: 25px;
}
@media screen and (min-width: 1168px) {
  .ingrediens__name {
    margin-top: 36px;
  }
}
.ingrediens .other__textcolor {
  color: #111111;
}
.ingrediens__descbox {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  padding: 28px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  background-color: #ffffff;
  transition-property: visibility, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ingrediens__item:hover .ingrediens__descbox {
  transform: translateY(0);
  visibility: visible;
}
.ingrediens .descbox__tagbox {
  display: flex;
  gap: 6px;
  margin-top: 8px;
  margin-bottom: 14px;
}
.ingrediens .descbox__title {
  color: #111111;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2222222222;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  width: 241px;
}
.ingrediens .descbox__tag {
  color: #ffffff;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  background: #fd9222;
}
@media screen and (min-width: 1168px) {
  .ingrediens .descbox__tag {
    padding-left: 16px;
    padding-right: 14px;
  }
}
.ingrediens .descbox__tag:nth-child(2) {
  color: #111111;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  border: 1px solid #fd9222;
  background: #fafafa;
}
.ingrediens .descbox__text {
  color: #111111;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2857142857;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 1168px) {
  .ingrediens .descbox__text {
    display: none;
  }
}
.ingrediens .descbox__textdesktop {
  display: none;
}
@media screen and (min-width: 1168px) {
  .ingrediens .descbox__textdesktop {
    display: block;
    color: #111111;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2857142857;
    letter-spacing: -0.28px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.menu {
  width: 220px;
  height: 812px;
  background: #1e1823;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
@media screen and (min-width: 736px) {
  .menu {
    width: 290px;
    height: 1024px;
  }
}
.menu__buttonclose {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  top: 20px;
  right: 20px;
  stroke: #ffffff;
}
@media screen and (min-width: 736px) {
  .menu__buttonclose {
    top: 24px;
    right: 32px;
  }
}
.menu__buttonclose:hover .menu__iconclose, .menu__buttonclose:focus .menu__iconclose {
  stroke: #fd9222;
}
.menu__iconclose {
  width: 28px;
  height: 28px;
  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__bill {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 136px;
  margin-left: 50px;
  margin-right: 46px;
}
@media screen and (min-width: 736px) {
  .menu__bill {
    margin-top: 156px;
    margin-left: 85px;
    margin-right: 81px;
  }
}
.menu .bill__link {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: -0.28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu .bill__link:hover, .menu .bill__link:focus {
  color: #fd9222;
}
.menu__schedule {
  display: flex;
  gap: 18px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.menu .schedule__icon {
  width: 22px;
  height: 22px;
  fill: transparent;
  stroke: #ffffff;
  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 736px) {
  .menu .schedule__icon {
    width: 24px;
    height: 24px;
  }
}
.menu .schedule__link:focus .schedule__icon, .menu .schedule__link:hover .schedule__icon {
  stroke: #fd9222;
}/*# sourceMappingURL=main.css.map */