<div class="menu is-hidden" data-menu>
    <button type="button" class="menu__buttonclose" data-menu-close>
        <svg class="menu__iconclose">
            <use href="./img/symbol-defs.svg#icon-closetablet"></use>
        </svg>
    </button>
    <ul class="menu__bill">
        <li class="bill__item">
            <a href="#" class="bill__link">Home</a>
        </li>
        <li class="bill__item">
            <a href="#howmade" class="bill__link">How it’s made?</a>
        </li>
        <li class="bill__item">
            <a href="#ourproducts" class="bill__link">Our products</a>
        </li>
        <li class="bill__item">
            <a href="#topsellers" class="bill__link">Top sellers</a>
        </li>
        <li class="bill__item">
            <a href="#lovers" class="bill__link">Chocolate is loved</a>
        </li>
    </ul>
    <ul class="menu__schedule">
        <li class="schedule__item">
            <a href="#" class="schedule__link">
                <svg class="schedule__icon">
                    <use href="./img/symbol-defs.svg#icon-instagrammobile"></use>
                </svg>
            </a>
        </li>
        <li class="schedule__item">
            <a href="#" class="schedule__link">
                <svg class="schedule__icon">
                    <use href="./img/symbol-defs.svg#icon-twittermobile"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>