<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__wrapper">
      <h2 class="footer__title">
        <span class="footer__span">Chocolate</span> a delicious cure for a bad
        day
      </h2>
      <div class="footer__box">
        <div class="footer__contact">
          <p class="footer__text">Contact us</p>
          <div class="footer__wrap">
            <a class="footer__link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
            <a class="footer__link" href="mailto:simplychoc@gmail.com"
              >simplychoc@gmail.com</a
            >
          </div>
        </div>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__linksvg">
              <svg class="footer__svg">
                <use href="./img/symbol-defs.svg#icon-instagramdesktop"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__linksvg">
              <svg class="footer__svg">
                <use href="./img/symbol-defs.svg#icon-twitterdesktop"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__line"></div>
    <div>
      <nav class="footer__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="footer__link" href="#header">Home</a>
          </li>
          <li class="nav__item">
            <a class="footer__link" href="#howmade">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a class="footer__link" href="#ourproducts">Our products</a>
          </li>
          <li class="nav__item">
            <a class="footer__link" href="#topsellers">Top sellers</a>
          </li>
          <li class="nav__item">
            <a class="footer__link" href="#lovers">Chocolate is loved</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
