<header class="header" id="header">
    <div class="container">
        <div class="header__logobox">
            <a href="#" class="header__logotext">SIMPLY CHOCOLATE</a>
            <svg class="header__icon">
                <use href="./img/symbol-defs.svg#icon-chocolatelogo"></use>
            </svg>
        </div>
        <nav class="header__navigation">
            <ul class="navigation__list">
                <li class="list__item">
                    <a href="#" class="list__link">Home</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">How it’s made?</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Our products</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Top sellers</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Chocolate is loved</a>
                </li>
            </ul>
        </nav>
        <div class="header__socialbox">
            <a href="#" class="socialbox__link">
                <svg class="socialbox__icon">
                    <use href="./img/symbol-defs.svg#icon-instagramdesktop"></use>
                </svg>
            </a>
            <a href="#" class="socialbox__link">
                <svg class="socialbox__icon">
                    <use href="./img/symbol-defs.svg#icon-twitterdesktop"></use>
                </svg>
            </a>
        </div>
        <button class="header__button" type="button" data-menu-open>
            <svg class="button__icon">
                <use href="./img/symbol-defs.svg#icon-menutablet"></use>
            </svg>
        </button>
    </div>
</header>