<section class="hero">
  <div class="container hero__wrapper">
    <h1 class="hero__title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <div class="hero__box">
      <ul class="hero__list">
        <li class="hero__item">
          <button class="hero__buttonbuy" type="button" data-modal-open>Buy now</button>
        </li>
        <li class="hero__item">
          <a class="hero__buttonhow" type="button" href="#howmade">How it’s made</a>
        </li>
      </ul>
      <a href="#footer" class="hero__link">
        <span class="hero__cell">scroll down</span>
        <svg class="hero__svg">
          <use href="./img/symbol-defs.svg#icon-angledesktop"></use>
        </svg>
      </a>
    </div>
  </div>
</section>