<section class="howmade" id="howmade">
  <div class="container">
    <h2 class="howmade__headline">
      HOW IT’S <span class="howmade__headlinespan">MADE?</span>
    </h2>
    <div class="howmade__page">
      <div class="howmade__video">
        <picture>
          <source
            srcset="
              ./img/desktop/fudge-desktop@1x.webp 1x,
              ./img/desktop/fudge-desktop@2x.webp 2x
            "
            media="(min-width:1264px)"
          />
          <source
            srcset="
              ./img/tablet/fudge-tablet@1x.webp 1x,
              ./img/tablet/fudge-tablet@2x.webp 2x
            "
            media="(min-width:752px)"
          />
          <source
            srcset="
              ./img/mobile/fudge-mobile@1x.webp 1x,
              ./img/mobile/fudge-mobile@2x.webp 2x
            "
            media="(max-width:751px)"
          />
          <img
            src="./img/mobile/fudge-mobile@1x.webp"
            alt="orange_flower"
            class="howmade__image"
          />
        </picture>
        <button class="howmade__button" aria-label="Play video"></button>
      </div>

      <div class="howmade__box">
        <h3 class="howmade__title">
          Try our chocolates today and <br />
          <span class="howmade__highlight"
            >discover the perfect balance of flavor</span
          >
        </h3>
        <ul class="howmade__items">
          <li class="howmade__item">
            <p class="howmade__subtitle">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="howmade__item">
            <p class="howmade__subtitle">
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="howmade__item">
            <p class="howmade__subtitle">
              “Mix” the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li class="howmade__item">
            <p class="howmade__subtitle">
              Heat the mixture over low heat, letting it barely boil.
            </p>
          </li>
          <li class="howmade__item">
            <p class="howmade__subtitle">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
