<section class="ingrediens">
    <div class="container">
        <h2 class="ingrediens__title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION</h2>
        <p class="ingrediens__desc">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the
            details. From the sourcing
            of the finest ingredients to the careful crafting of each individual piece, every step of our process adds
            up to one exceptional taste sensation.
        </p>
        <ul class="ingrediens__list">
            <li class="ingrediens__item">
                <img src="" alt="chocolate" class="ingrediens__img">
                <p class="ingrediens__name">mILK CHOCOLATE</p>
            </li>
            <li class="ingrediens__item">
                <img src="" alt="milk" class="ingrediens__img">
                <p class="ingrediens__name">Milk</p>
            </li>
            <li class="ingrediens__item">
                <img src="" alt="nuts" class="ingrediens__img">
                <p class="ingrediens__name">nuts</p>
            </li>
            <li class="ingrediens__item">
                <img src="" alt="cacao_seed" class="ingrediens__img">
                <p class="ingrediens__name">sEMI - SWEET CHOCOLATE</p>
            </li>
        </ul>
    </div>
</section>