<section class="ingrediens">
    <div class="container">
        <h2 class="ingrediens__title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="ingrediens__titlespan">TASTE</span>
            SENSATION</h2>
        <p class="ingrediens__desc">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the
            details. From the sourcing
            of the finest ingredients to the careful crafting of each individual piece, every step of our process adds
            up to one exceptional taste sensation.
        </p>
        <ul class="ingrediens__list">
            <li class="ingrediens__item">
                <picture>
                    <source
                        srcset="../img/desktop/chocolate-desktop@1x.webp 1x, ../img/desktop/chocolate-desktop@2x.webp 2x"
                        media="(min-width:1168px)">
                    <source
                        srcset="../img/tablet/chocolate-tablet@1x.webp 1x, ../img/tablet/chocolate-tablet@2x.webp 2x"
                        media="(min-width:736px)">
                    <source
                        srcset="../img/mobile/chocolate-mobile@1x.webp 1x, ../img/mobile/chocolate-mobile@2x.webp 2x"
                        media="(max-width:735px)">
                    <img src="../img/desktop/chocolate-desktop@1x.webp" alt="chocolate" class="ingrediens__img">
                </picture>
                <p class="ingrediens__name">mILK CHOCOLATE</p>
                <div class="ingrediens__descbox">
                    <h3 class="descbox__title">Milk chocolate</h3>
                    <div class="descbox__tagbox">
                        <button class="descbox__tag">
                            chocolate
                        </button>
                        <button class="descbox__tag">
                            the benefits
                        </button>
                    </div>
                    <p class="descbox__text">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar
                        and milk. It is the
                        most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in
                        pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and
                        Europe, increasingly large...
                    </p>
                    <p class="descbox__textdesktop">Milk chocolate is a solid chocolate confectionery containing
                        cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold
                        and consumed as a beverage in pre-Columbian times...
                    </p>
                </div>
            </li>
            <li class="ingrediens__item">
                <picture>
                    <source srcset="../img/desktop/milk-desktop@1x.webp 1x, ../img/desktop/milk-desktop@2x.webp 2x"
                        media="(min-width:1168px)">
                    <source srcset="../img/tablet/milk-tablet@1x.webp 1x, ../img/tablet/milk-tablet@2x.webp 2x"
                        media="(min-width:736px)">
                    <source srcset="../img/mobile/milk-mobile@1x.webp 1x, ../img/mobile/milk-mobile@2x.webp 2x"
                        media="(max-width:735px)">
                    <img src="../img/desktop/milk-desktop@1x.webp" alt="milk" class="ingrediens__img">
                </picture>
                <p class="ingrediens__name other__textcolor">Milk</p>
                <div class="ingrediens__descbox">
                    <h3 class="descbox__title">Milk</h3>
                    <div class="descbox__tagbox">
                        <button class="descbox__tag">
                            milk
                        </button>
                        <button class="descbox__tag">
                            the benefits
                        </button>
                    </div>
                    <p class="descbox__text">Milk is a white liquid food produced by the mammary glands of mammals. It
                        is the primary source of nutrition for young mammals (including breastfed human infants) before
                        they are able to digest solid food.Early-lactation milk, which is called colostrum, contains
                        antibodies that strengthen the immune system,...
                    </p>
                    <p class="descbox__textdesktop">Milk is a white liquid food produced by the mammary glands of
                        mammals. It is the primary source of nutrition for young mammals (including breastfed human
                        infants) before they are able to digest solid food.Early-lactation milk,...
                    </p>
                </div>
            </li>
            <li class="ingrediens__item">
                <picture>
                    <source srcset="../img/desktop/nuts-desktop@1x.webp 1x, ../img/desktop/nuts-desktop@2x.webp 2x"
                        media="(min-width:1168px)">
                    <source srcset="../img/tablet/nuts-tablet@1x.webp 1x, ../img/tablet/nuts-tablet@2x.webp 2x"
                        media="(min-width:736px)">
                    <source srcset="../img/mobile/nuts-mobile@1x.webp 1x, ../img/mobile/nuts-mobile@2x.webp 2x"
                        media="(max-width:735px)">
                    <img src="../img/desktop/nuts-desktop@1x.webp" alt="nuts" class="ingrediens__img">
                </picture>
                <p class="ingrediens__name">nuts</p>
                <div class="ingrediens__descbox">
                    <h3 class="descbox__title">Nuts</h3>
                    <div class="descbox__tagbox">
                        <button class="descbox__tag">
                            nuts
                        </button>
                        <button class="descbox__tag">
                            the benefits
                        </button>
                    </div>
                    <p class="descbox__text">Almonds, pistachios, and walnuts are some types of nuts that contain
                        healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits
                        such as reducing your risk of heart disease. They’re a good source of fiber, healthy fats, and
                        plant protein. Plus, they’re great on their own, paired with...
                    </p>
                    <p class="descbox__textdesktop">Almonds, pistachios, and walnuts are some types of nuts that contain
                        healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits
                        such as reducing your risk of heart disease. They’re a good source...
                    </p>
                </div>
            </li>
            <li class="ingrediens__item">
                <picture>
                    <source srcset="../img/desktop/semi-desktop@1x.webp 1x, ../img/desktop/semi-desktop@2x.webp 2x"
                        media="(min-width:1168px)">
                    <source srcset="../img/tablet/semi-tablet@1x.webp 1x, ../img/tablet/semi-tablet@2x.webp 2x"
                        media="(min-width:736px)">
                    <source srcset="../img/mobile/semi-mobile@1x.webp 1x, ../img/mobile/semi-mobile@2x.webp 2x"
                        media="(max-width:735px)">
                    <img src="../img/desktop/semi-desktop@1x.webp" alt="cacao_seed" class="ingrediens__img">
                </picture>
                <p class="ingrediens__name other__textcolor">sEMI - SWEET CHOCOLATE</p>
                <div class="ingrediens__descbox">
                    <h3 class="descbox__title">semi - sweet chocolate</h3>
                    <div class="descbox__tagbox">
                        <button class="descbox__tag">
                            sweet chocolate
                        </button>
                        <button class="descbox__tag">
                            the benefits
                        </button>
                    </div>
                    <p class="descbox__text">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the
                        best ways to gain an understanding of this type of chocolate is to compare it to a different
                        type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a
                        slightly bitter taste whereas milk chocolate is sweeter and...
                    </p>
                    <p class="descbox__textdesktop">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
                        the
                        best ways to gain an understanding of this type of chocolate is to compare it to a different
                        type of...
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>