<section class="lovers">
  <div class="container">
    <h2 class="lovers__title">
      chocolate <span class="lovers__span">is loved</span>
    </h2>
    <ul class="lovers__list">
      <li class="lovers__item">
        <picture>
          <source
            srcset="
              ./img/desktop/victoria-desktop@1x.webp 1x,
              ./img/desktop/victoria-desktop@2x.webp 2x
            "
            media="(min-width:1168px)"
          />
          <source
            srcset="
              ./img/tablet/victoria-tablet@1x.webp 1x,
              ./img/tablet/victoria-tablet@2x.webp 2x
            "
            media="(min-width:736px)"
          />
          <source
            srcset="
              ./img/mobile/victoria-mobile@1x.webp 1x,
              ./img/mobile/victoria-mobile@2x.webp 2x
            "
            media="(max-width:735px)"
          />
          <img
            src="../img/desktop/victoria-desktop@1x.webp"
            alt="Victoria Dobrzhanska"
            class="lovers__avatar"
          />
        </picture>
        <h3 class="lovers__subtitle">Victoria Dobrzhanska</h3>
        <p class="lovers__text">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="lovers__item">
        <picture>
          <source
            srcset="
              ./img/desktop/nazar-desktop@1x.webp 1x,
              ./img/desktop/nazar-desktop@2x.webp 2x
            "
            media="(min-width:1168px)"
          />
          <source
            srcset="
              ./img/tablet/nazar-tablet@1x.webp 1x,
              ./img/tablet/nazar-tablet@2x.webp 2x
            "
            media="(min-width:736px)"
          />
          <img
            src="../img/tablet/nazar-tablet@1x.webp"
            alt="Nazar Babenko"
            class="lovers__avatar"
          />
        </picture>

        <h3 class="lovers__subtitle">Nazar Babenko</h3>
        <p class="lovers__text">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="lovers__item">
        <picture>
          <source
            srcset="
              ./img/desktop/olena-desktop@1x.webp 1x,
              ./img/desktop/olena-desktop@2x.webp 2x
            "
            media="(min-width:1168px)"
          />
          <img
            src="../img/desktop/olena-desktop@1x.webp"
            alt="Olena Kampusch"
            class="lovers__avatar"
          />
        </picture>
        <h3 class="lovers__subtitle">Olena Kampusch</h3>
        <p class="lovers__text">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
    </ul>
    <ul class="lovers__nomenclature">
      <li class="nomenclature__item"></li>
      <li class="nomenclature__item"></li>
      <li class="nomenclature__item"></li>
      <li class="nomenclature__item"></li>
    </ul>
    <div class="lovers__box">
      <button class="lovers__btn" data-review-open>Leave a review</button>
    </div>
  </div>
</section>
