<div class="modaltwo is-hiddenmodaltwo" data-modaltwo>
    <button type="button" class="modal__buttonclose" data-modaltwo-close>
        <svg class="modal__iconclose">
            <use href="./img/symbol-defs.svg#icon-closetablet"></use>
        </svg>
    </button>
    <h2 class="modal__title">
        <span class="modal__subtitle">bUY</span>
        nOW
    </h2>
    <ul class="modal__sked">
        <li class="sked__item">
            <picture>
                <source srcset="./img/desktop/curls-desktop@1x.webp 1x, ./img/desktop/curls-desktop@2x.webp 2x"
                    media="(min-width:1168px)">
                <source srcset="./img/tablet/curls-tablet@1x.webp 1x, ./img/tablet/curls-tablet@2x.webp 2x"
                    media="(min-width:736px)">
                <source srcset="./img/mobile/curls-mobile@1x.webp 1x, ./img/mobile/curls-mobile@2x.webp 2x"
                    media="(max-width:735px)">
                <img src="./img/desktop/curls-desktop@1x.webp" alt="small__chocolate" class="sked__img">
            </picture>
            <button class="sked__button">100 g</button>
        </li>
        <li class="sked__item">
            <picture>
                <source srcset="./img/desktop/treats-desktop@1x.webp 1x, ./img/desktop/treats-desktop@2x.webp 2x"
                    media="(min-width:1168px)">
                <source srcset="./img/tablet/treats-tablet@1x.webp 1x, ./img/tablet/treats-tablet@2x.webp 2x"
                    media="(min-width:736px)">
                <source srcset="./img/mobile/treats-mobile@1x.webp 1x, ./img/mobile/treats-mobile@2x.webp 2x"
                    media="(max-width:735px)">
                <img src="./img/desktop/treats-desktop@1x.webp" alt="white&black__chocolate" class="sked__img">
            </picture>
            <button class="sked__button">200 g</button>
        </li>
        <li class="sked__item">
            <picture>
                <source srcset="./img/desktop/gratings-desktop@1x.webp 1x, ./img/desktop/gratings-desktop@2x.webp 2x"
                    media="(min-width:1168px)">
                <source srcset="./img/tablet/gratings-tablet@1x.webp 1x, ./img/tablet/gratings-tablet@2x.webp 2x"
                    media="(min-width:736px)">
                <source srcset="./img/mobile/gratings-mobile@1x.webp 1x, ./img/mobile/gratings-mobile@2x.webp 2x"
                    media="(max-width:735px)">
                <img src="./img/desktop/gratings-desktop@1x.webp" alt="big__chocolate" class="sked__img">
            </picture>
            <button class="sked__button">300 g</button>
        </li>
    </ul>
    <div class="modal__spanbox">
        <span class="spanbox__item"></span>
        <span class="spanbox__item"></span>
        <span class="spanbox__item"></span>
    </div>
    <form class="modal__form">
        <ul class="form__beadroll">
            <li class="beadroll__item">
                <h3 class="beadroll__personaltext">Personal information</h3>
                <div class="beadroll__inputbox">
                    <input type="text" class="beadroll__inputname" placeholder="Name" required>
                    <input type="text" class="beadroll__inputsurname" placeholder="Surname" required>
                </div>
            </li>
            <li class="beadroll__item">
                <label for="email" class="beadroll__labeltitle">Email
                    <input type="email" class="beadroll__inputemail" id="email" placeholder="Enter your email" required>
                </label>
            </li>
            <li class="beadroll__item">
                <label for="tel" class="beadroll__labeltitle">Phone number
                    <input type="tel" class="beadroll__inputphone" id="tel" placeholder="Phone number" required>
                </label>
                <div class="beadroll__svgbox">
                    <img src="./img/ukraine.svg" alt="ukraine" class="svgbox__image">
                    <p class="svgbox__text">+380</p>
                </div>
            </li>
            <li class="beadroll__item">
                <label for="card" class="beadroll__labeltitle">Card number
                    <input type="text" class="beadroll__inputcard" id="card" placeholder="Enter  card" required>
                </label>
                <img src="./img/mastercard.svg" alt="mastercard" class="beadroll__mastercard">
            </li>
            <li class="beadroll__item">
                <label for="text" class="beadroll__labeltitle">Comment
                    <textarea id="text" class="beadroll__textareatext" placeholder="Enter text"></textarea>
                </label>
            </li>
            <li class="beadroll__item">
                <button type="submit" class="beadroll__submit">Submit</button>
            </li>
        </ul>
    </form>
</div>