<div class="reviewmenu is-hiddenreview" data-review>
    <button type="button" class="reviewmenu__buttonclose" data-review-close>
        <svg class="reviewmenu__iconclose">
            <use href="./img/symbol-defs.svg#icon-closetablet"></use>
        </svg>
    </button>
    <h2 class="reviewmenu__title">leave a review
        <div class="reviewmenu__boxspan">
            <span class="reviewmenu__firstsubtitle">about</span>
            <span class="reviewmenu__subtitle">
                our chocolate
            </span>
        </div>
    </h2>
    <form class="reviewmenu__mediumform">
        <input type="text" placeholder="Name" class="mediumform__basicinput" required>
        <input type="email" placeholder="Enter your email" class="mediumform__basicinput" required>
        <div class="mediumform__phonebox">
            <input type="tel" placeholder="Phone number" class="phonebox__phoneinput" required>
            <div class="phonebox__svgbox">
                <img src="./img/ukraine.svg" alt="ukraine" class="phonebox__svg">
                <p class="phonebox__text">+380</p>
            </div>
        </div>
        <textarea placeholder="Enter text" class="mediumform__textinput" required></textarea>
        <button type="submit" class="mediumform__submit">Send</button>
    </form>
</div>