<div class="reviewmenu is-hiddenreview" data-review>
    <button type="button" class="reviewmenu__buttonclose" data-review-close>
        <svg class="reviewmenu__iconclose">
            <use href="./img/symbol-defs.svg#icon-closetablet"></use>
        </svg>
    </button>
    <h2 class="reviewmenu__title">leave a review
        <div class="reviewmenu__boxspan">
            <span class="reviewmenu__firstsubtitle">about</span>
            <span class="reviewmenu__subtitle">
                our chocolate
            </span>
        </div>
    </h2>
    <form class="reviewmenu__mediumform">
        <input type="text" placeholder="Name" class="mediumform__basicinput" required>
        <input type="email" placeholder="Enter your email" class="mediumform__basicinput" required>
        <div class="mediumform__phonebox">
            <input type="tel" placeholder="Phone number" class="phonebox__phoneinput" required>
            <div class="phonebox__svgbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25" fill="none" class="phonebox__svg">
                    <g clip-path="url(#clip0_1_1184)">
                        <path d="M31.8318 1.05835H0.242676V24.5665H31.8318V1.05835Z" fill="#FFD700" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M0.242676 1.05835H31.8318V12.8124H0.242676V1.05835Z" fill="#0057B7" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1_1184">
                            <rect width="32" height="24" fill="white" transform="translate(0 0.799988)" />
                        </clipPath>
                    </defs>
                </svg>
                <p class="phonebox__text">+380</p>
            </div>
        </div>
        <textarea placeholder="Enter text" class="mediumform__textinput" required></textarea>
        <button type="submit" class="mediumform__submit">Send</button>
    </form>
</div>