<section class="topsellers">
    <div class="container">
        <h2 class="topsellers__title">
            <span class="topsellers__subtitle">tOp </span>Sellers
        </h2>
        <div class="topsellers__imgbox">
            <picture>
                <source
                    srcset="./img/desktop/indulgence-desktop@1x.webp 1x, ./img/desktop/indulgence-desktop@2x.webp 2x"
                    media="(min-width:1168px)">
                <source srcset="./img/tablet/indulgence-tablet@1x.webp 1x, ./img/tablet/indulgence-tablet@2x.webp 2x"
                    media="(min-width:736px)">
                <source srcset="./img/mobile/indulgence-mobile@1x.webp 1x, ./img/mobile/indulgence-mobile@2x.webp 2x"
                    media="(max-width:735px)">
                <img src="./img/desktop/indulgence-desktop@1x.webp" alt="peanut_chocolate" class="topsellers__image">
            </picture>
            <p class="topsellers__textmobile">Crazy enough chocolate originates from a bean just like the coffee bean
                called
                Cacao. Cacao has been around
                for thousands of years and was first discovered by the Native American tribe called the Mayans.
            </p>
            <picture>
                <source srcset="./img/desktop/treat-desktop@1x.webp 1x, ./img/desktop/treat-desktop@2x.webp 2x"
                    media="(min-width:1168px)">
                <source srcset="./img/tablet/treat-tablet@1x.webp 1x, ./img/tablet/treat-tablet@2x.webp 2x"
                    media="(min-width:736px)">
                <source srcset="./img/mobile/treat-mobile@1x.webp 1x, ./img/mobile/treat-mobile@2x.webp 2x"
                    media="(max-width:735px)">
                <img src="./img/desktop/treat-desktop@1x.webp" alt="sweet_chocolate" class="topsellers__image">
            </picture>
            <picture>
                <source
                    srcset="./img/desktop/chocolicious-desktop@1x.webp 1x, ./img/desktop/chocolicious-desktop@2x.webp 2x"
                    media="(min-width:1168px)">
                <img src="./img/desktop/chocolicious-desktop@1x.webp" alt="greece_chocolate"
                    class="topsellers__image nonimg">
            </picture>
        </div>
        <div class="topsellers__buttontextbox">
            <p class="topsellers__textdesktop">Crazy enough chocolate originates from a bean just like the coffee bean
                called
                Cacao. Cacao has been around
                for thousands of years and was first discovered by the Native American tribe called the Mayans.
            </p>
            <button class="topsellers__button" type="button" data-modal-open>Buy now</button>
        </div>
    </div>
</section>